.max-width-300{
    max-width: 300px;
    margin: auto;
}
.max-width-400{
    max-width: 400px;
    margin: auto;
}
#quote.widget input{
    padding: 0 10px;
}

#quote.widget select{
    padding: 0 7px;
}

.widget .get-rates button:disabled{
    background-color: #E1E1E1 !important;
}

.widget-payment-method .card{
    cursor: pointer;
}

.widget-payment-method .card-body{
    margin-bottom: 0px;
    padding: 0 15px;
}
.widget-payment-method .card p{
    margin-bottom: 10px;
}

.widget-payment-method h4{
    margin: 10px auto 10px auto;
}

#selected-product-info .widget-payment-method > .card.selected{
    background-color: #D1D546;
    border-color: #D1D546 !important;
}

#selected-product-info .widget-payment-method .card.selected .card-text{
    color: white !important;
}

.widget .widget-payment-method .card{
    box-shadow: 0 0 15px RGBA(128, 128, 128, 0.3);
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
}

.widget-payment-method .card .card-text{
    font-size: 17.7px;
}

.widget .get-rates button.quote-button{
    z-index: 1 !important;
}

#step-4 #product-info-widget .widget-payment-method .card{
    max-width: initial;
}
#step-4 button .loadingIcon{
    color: #002A66 !important;
    left: -25px !important;
}

#step-4 .container{
    max-width: 450px;
}

h4,
h4 span{
    font-size: 24px;
    font-family: 'ZillaSlab', Helvetica, Arial, sans-serif !important;
    line-height: 1.3;
}

input.form-control.quote-birthdate{
    background-color: white;
}
input.form-control.quote-birthdate:disabled{
    background-color: #e9ecef;
}

.app-core label{
    line-height: 1.3;
}

footer .socialIcons {
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
}
footer{
    position: relative;
    top: 74px;
}

.product-extra-info h4{
    max-width: 500px;
    line-height: 1.3;
}

#quote .gray-color{
    color: #707070 !important;
}

#selected-product-info .legal-text{
    font-size: 14px;
    line-height: 1.2;
}

#product-info-widget h4{
    margin-top: 15px;
}


/* vvvvvv MEDIA QUERIES vvvvvv */

/* xl */
@media (min-width: 1199.99px) {

}

/* lg */
@media (max-width: 1199.98px) {

}

/* md */
@media (max-width: 991.98px) {
    .app-core label {
        margin-top: 5px;
    }
}

/* sm */
@media (max-width: 767.98px) {
    footer{
        top: 107px;
    }
    #top-menu .navbar-collapse{
        display: flex!important;
    }
    .product-extra-info label {
        min-height: 14px !important;
    }
}

/* xs */
@media (max-width: 575.98px) {
    #quote .quote-bank-account {
        letter-spacing: 0;
    }
}

/* ^^^^^^ MEDIA QUERIES ^^^^^^ */
